<div class = "container"
	fxLayout = "row">

<div fxFlex = "30">

<mat-sidenav-container class = sidenav>
	<mat-nav-list>
		<mat-list-item >
			<form enctype="multipart/form-data" method="post">

			<div >

			<label  >Data Source <input type="file" id = "picked" #picked 
				(change) = "onPicked(picked)"
				size="60" height="20" width="100" style="display:none"/></label>
			</div>
			</form>		
		</mat-list-item>
		<mat-list-item><a href="#">Data Preparation</a>
		</mat-list-item>
		<mat-list-item><a href="#">Data Visualization</a>
		</mat-list-item>
		<mat-list-item><a href="#">Algorithm</a>
		</mat-list-item>
		<mat-list-item><a href="#">Dashboard</a>
		</mat-list-item>

	</mat-nav-list>
</mat-sidenav-container>

</div>

<!-- drag drop componet imported here -->
<div fxFlex="70">

	<h1>div for csv data</h1>
<!-- <p *ng-repeat= "data in uploaderService.parseData">check</p>	 -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef> Weight </th>
    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Symbol </th>
    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>



<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->



<div *ngIf = "uploaderService.parseData">

	<!-- <h1 >{{uploaderService.parseData}}</h1> -->
	 <!-- <p> {{getdata()}}</p> -->
<p>in the if condition </p>
	 <p>{{display()}}</p>



 
</div>
	<!-- <div >
    {{getdata()}}
  </div> -->
<!-- <p>Build amazing things
npm is the package manager for JavaScript and the world’s largest software registry. Discover packages of reusable code — and assemble them in powerful new ways.
Teammates all together
npm Orgs is powerful collaboration — for free
Encourage code discovery and re-use within teams
Publish and control access to your own namespace
Manage public and private code with the same workflow
</p>
 -->
</div>
</div>

